@charset "UTF-8";
body {
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
	color: black;
	font-size: 16px;
}

/*.wrapper {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 1000px;
}*/

h1 {
  text-align: center;
	font-size: 18px;
	margin-top: 20px 0px 20px 0px;
	padding-top: 10px 10px 10px 10px;
}


/*
div#table {
  margin: 0px auto;
}

table#list th, table#list td {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: black;
  padding: 4px 16px 4px 0;
  text-align: center;
  white-space: nowrap;
}

#diarycomment {
    border: 2px solid #f7ad4d;
    padding: 50px;
}

.data_row{
  height: 150px;
}
*/
.max {
    font-size: 25px;
    color: red;
    vertical-align:bottom;
}

.min {
    font-size: 25px;
    color: blue;
    vertical-align:top
}


/*.data_row{
	border-bottom-width: 5px;
	border-bottom-style: dotted;
	border-bottom-color: black;
}*/

.data_row td {
  border-bottom-width: 7px;
  border-bottom-style:  dashed;
  border-bottom-color: #232323;
  padding: 4px 16px 4px 0;
  text-align: left;
  white-space: nowrap;
  position:relative;
}

table#list{
	border-spacing: 0;
}

table#list th{
	border-bottom:2px solid #000;
	border-bottom-color: #232323;
}

.btn{
	margin: 0 10px;
	padding: 6px 25px;
	color: #232323;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #f7f7f7;
	border: 1px solid #232323;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}

.btn:hover{
    color: #f7f7f7;
    background-color: #232323;
}

.searchbtn{
	margin: 0 5px;
	padding: 6px 15px;
	color: #232323;
	font-weight: bold;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #f7f7f7;
	border: 1px solid #232323;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
}

.searchbtn:hover{
    color: #f7f7f7;
    background-color: #232323;
}