@charset "UTF-8";
body {
	margin: 0 auto 0 auto;
	padding: 0 auto 0 auto;
	color: black;
	font-size: 16px;
}

/*.wrapper {
	text-align: center;
	margin: 0 auto 0 auto;
	width: 1000px;
}*/

h1 {
  text-align: center;
	font-size: 18px;
	margin-top: 20px 0px 20px 0px;
	padding-top: 10px 10px 10px 10px;
}


/*
div#table {
  margin: 0px auto;
}

table#list th, table#list td {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: black;
  padding: 4px 16px 4px 0;
  text-align: center;
  white-space: nowrap;
}

#diarycomment {
    border: 2px solid #f7ad4d;
    padding: 50px;
}

.data_row{
  height: 150px;
}
*/
.max {
    font-size: 25px;
    color: red;
}

.min {
    font-size: 25px;
    color: blue;
}