@charset "UTF-8";

/* ヘッター */
h1{
	margin: 20px 5px;
}

.nav{
	text-align: center;
	background-color: #232323;
	/*height: 50px;*/
}

.nav li {
	display: inline;
	list-style-type: none;
	margin: 20px;
    /*padding: 30px;*/

}

.nav a {
	text-decoration: none;
    color: #E5E5E5;
    font-size: 20px;
    /*padding:15px;*/

}

.nav a:hover {
	/*padding: 15px;*/
	color: white;
    background-color: black;
}

/* フッター */