@charset "UTF-8";
.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

h3, h2{
	text-align: center;
}



        img {
            margin: 30px 0;
            width: 200px;
        }

/*        #recomend {
            display: inline-block;
        }*/

        .multiselect {
            width: 200px;
        }

        .selectBox {
            position: relative;
        }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        #checkboxes {
            display: none;
            border: 1px #dadada solid;
        }

        #checkboxes label {
            display: block;
        }

        #checkboxes label:hover {
            background-color: #1e90ff;
        }

        #checkboxeses {
            display: none;
            border: 1px #dadada solid;
        }

        #checkboxeses label {
            display: block;
        }

        #checkboxeses label:hover {
            background-color: #1e90ff;
        }

        #checkboxeseses {
            display: none;
            border: 1px #dadada solid;
        }

        #checkboxeseses label {
            display: block;
        }

        #checkboxeseses label:hover {
            background-color: #1e90ff;
        }


        .list{
	overflow: hidden;
    overflow-x: scroll;
	margin: 3px auto;
	width: 900px;
	/*height: 500px;*/
    border: solid 3px #222222;
}

.list_outer{
	height: 500px;
}

.list_jk{
	height: 300px;
}

.list_tops{
	height: 330px;
}

.list_sk{
	height: 330px;
}

.list_p{
	height:550px;
}

.list_shoes{
	height: 250px;
}

.list2{
    overflow-x: scroll;
	margin: 3px auto;
	width: calc(0px + 1200px);
	height: 100%;
	padding: 1em;
	padding-right: calc(2em + 100px);
}

.search tr,td{
	height: 35px;
}

.button_table td{
	vertical-align:middle;
}

.result_outer td{
	height: 35px;
}