@charset "UTF-8";
.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}

.pulldown_name{
	margin: 0 0 0 0;
}

table.regist_table td{
	width: 250px;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
#checkboxeses {
  display: none;
  border: 1px #dadada solid;
}

#checkboxeses label {
  display: block;
}

#checkboxeses label:hover {
  background-color: #1e90ff;
}

.button_td{
	text-align: right;
}
